{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-primary mt-4" style="font-weight: bold; text-align: center;">Yetinder</h1>
    <h3 class="text-primary mt-4" style="text-align: center;">{{ app.user ? 'Welcome, ' ~ app.user.username ~ '!' : 'You are not signed in.' }}</h1>
    
    <div class="d-flex justify-content-center mt-4" style="gap: 8px">
        {% if app.user %}
            <button class="btn btn-primary" onclick="window.location.href='/add-yeti'">Add a Yeti</button>
            <button class="btn btn-primary" onclick="window.location.href='/rate-yeti'">Rate Yetis</button>
        {% else %}
                <button class="btn btn-primary" onclick="window.location.href='/register'">Register</button>
        {% endif %}
        
        <button class="btn btn-primary" onclick="window.location.href='/{{ app.user ? 'logout' : 'login' }}'">{{ app.user ? 'Logout' : 'Sign in' }}</button>
    </div>

    <h3 class="text-primary mt-4">Top Yetis</h3>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Height</th>
            <th scope="col">Weigth</th>
            <th scope="col">Rating</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for yeti in top_rated_yetis %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ yeti.name }}</td>
                    <td>{{ yeti.height }}</td>
                    <td>{{ yeti.weight }}</td>
                    <td>{{ yeti.rating }}</td>
                    <td><a href="{{ path('rating-history', { id: yeti.id}) }}" class="btn btn-primary">Rating History</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
